body
  div#container
    include fixed_header_items.jade
    div#header
      div#bgspace
      include toolbar.jade
    div#header_placeholder
    div#results_info_logged_out
      span#results_fn Results Found |
      span#result_num 1000
      span#spacer
    div#results
  include overlay-about.jade
  include overlay-contact.jade
  include overlay-login.jade
  include overlay-create_account.jade
  include overlay-user.jade
  include overlay-insight.jade  
