div#control.fixed_header_item
  button#login-bt(type='button')
    span Log In
  button#contact-bt(type='button')
    span CONTACT
  button#about-bt(type='button')
    span ABOUT
div.fixed_header_item
  img#logo(src='./images/tribe_logo_white.png')
div.fixed_header_item
  div#search
    input#search-eb(type='text',name='tribe_search_eb',placeholder='Search Australia\'s Leading Social Media Influencers')
    button#search-bt(type='button',name='tribe_search_bt')
      span.glyphicon.glyphicon-search
      