div#contact.overlay.about-overlay
  div.overlay-content
   div.about-overlay-content
    span.close.glyphicon.glyphicon-remove
    br
    h1 Contact
    span.diamond
    p Lorem ipsum dolor sit amet, mail@tribe-search.com
