div#insight.popup.insight-popup
  div.insight-overlay-content
    span.close.glyphicon.glyphicon-remove
    div.insight-profile
      div.insight-profile-img
        img(src='./images/woman.jpg')
      div.insight-profile-wrapper
        div.insight-profile-score
          h2 8.5
          p Tribe score
        br
        h1 Kylie Minogue
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        ul
          li
            img(src='./icons/instagram.png')
            p 67k
          li
            img(src='./icons/facebook.png')
            p 92k
          li
            img(src='./icons/twitter.png')
            p 92k
          li
            img(src='./icons/youtube.png')
            p 67k    
    div.insight-wrapper
      div.insight-wrapper-content
        div#slides
          div.insight-wrapper-post
            h4 Average per post
            h3 Facebook
            p Average stats per post over a year.
            p 
              !="<strong>500k</strong> likes"
            p 
              !="<strong>13k</strong> comments"
            p 
              !="<strong>1k</strong> Shares"
          div.insight-wrapper-post
            h4 Average per post
            h3 Twitter
            p Average stats per post over a year.
            p 
              !="<strong>500k</strong> likes"
            p 
              !="<strong>13k</strong> comments"
            p 
              !="<strong>1k</strong> Shares"
          div.insight-wrapper-post
            h4 Average per post
            h3 Instagram
            p Average stats per post over a year.
            p 
              !="<strong>500k</strong> likes"
            p 
              !="<strong>13k</strong> comments"
            p 
              !="<strong>1k</strong> Shares"
        div#slides-controls.slides-controls
          a(href='javascript:;') 1
          a(href='javascript:;') 2
          a(href='javascript:;') 3
      div.insight-wrapper-graph
        h4 tribe score
        div#div1
        div#div2
        div#div3
        div#div4
    div.insight-wrapper
      div#areacontainer.insight-wrapper-graph
        svg
      div.insight-wrapper-content
        div.insight-wrapper-post
          h4 Trending
          h3 Latest Trending Post
          p 
            !="<strong>14.8k</strong> likes - <strong>153</strong> comments"
          p 
            !="<span>8.6</span> tribe score for this post"
    div.insight-wrapper
      div.insight-wrapper-content
        div#slides1
          div.insight-wrapper-post
            h4 STATS1
            h3 Monthly Growth
            p Across all social media channels
            p 
              !="<strong>4m</strong> likes - <strong>1m</strong> comments"
            p 
              !="<strong>500k</strong> re-posts"
            p 
              !="<span>8.2</span> tribe score for this month."
          div.insight-wrapper-post
            h4 STATS2
            h3 Monthly Growth
            p Across all social media channels
            p 
              !="<strong>4m</strong> likes - <strong>1m</strong> comments"
            p 
              !="<strong>500k</strong> re-posts"
            p 
              !="<span>8.2</span> tribe score for this month."
          div.insight-wrapper-post
            h4 STATS3
            h3 Monthly Growth
            p Across all social media channels
            p 
              !="<strong>4m</strong> likes - <strong>1m</strong> comments"
            p 
              !="<strong>500k</strong> re-posts"
            p 
              !="<span>8.2</span> tribe score for this month."
        div#slides-controls1.slides-controls
          a(href='javascript:;') 1
          a(href='javascript:;') 2
          a(href='javascript:;') 3
      div.insight-wrapper-sub-content
        div.insight-wrapper-sub-post
          div.insight-wrapper-sub-post-view
            button#view-post(type='button',name='post_view_btn')
              span View Post

   