div#about.overlay.standard-overlay
  div.overlay-content
    span.close.glyphicon.glyphicon-remove
    br
    h1 About
    p Lorem ipsum dolor sit amet, pri at menandri gloriatur, ne vis tation albucius reprimique, sed ei vidit aeterno. Pri nisl perpetua appellantur et, cu dicant mediocrem intellegam vix. Eum an ceteros ullamcorper, qui et ludus verear. Usu iusto latine referrentur ad, ei legimus deterruisset vim. Meliore nominavi oportere vis ad. Ius doctus blandit nominati ea, eam eu ludus suavitate suscipiantur. Ei viderer corpora quaestio usu, ad vis alii praesent percipitur, summo graeco recusabo ut sit.
    p Esse ipsum disputando has an. Te atomorum aliquando reprimique sea, mucius alterum mel id. Has vidit petentium pertinacia cu, sit autem reprimique ea, propriae ullamcorper vel ut. Ne sea vocent dignissim, perpetua consectetuer no vis. Dicunt probatus quaestio mea an.
   