@media screen and (min-width: 1200px) {
  .max_content_width {
    width: 1200px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .max_content_width {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .max_content_width {
    width: 720px;
  }
}
@font-face {
  font-family: GothamLight;
  src: url("/fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: GothamBook;
  src: url("/fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: GothamMedium;
  src: url("/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: GlyphiconsHalflings;
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: GlyphiconsHalflings;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-email:before {
  content: "\2709";
}
.glyphicon-person:before {
  content: "\e008";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-remove:before {
  content: "\e014";
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
button:focus,
input:focus {
  outline: 0 !important;
}
body {
  background-color: #333333;
}
div#container {
  margin: 0px auto;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
@media screen and (min-width: 1200px) {
  div#container {
    width: 1200px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  div#container {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  div#container {
    width: 720px;
  }
}
div#header {
  min-height: 258px;
  max-height: 847.76918638px;
  background: #ffffff url('/images/content-background-plate.jpg') no-repeat local;
  background-size: 1200px auto;
  background-position: center top;
  z-index: 5;
}
@media screen and (min-width: 1200px) {
  div#header {
    width: 1200px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  div#header {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  div#header {
    width: 720px;
  }
}
div#header_placeholder {
  height: 0px;
}
@media screen and (min-width: 1200px) {
  div#header_placeholder {
    width: 1200px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  div#header_placeholder {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  div#header_placeholder {
    width: 720px;
  }
}
div#bgspace {
  height: 799.76918638px;
}
.fixed_header_item {
  position: fixed;
  top: 0px;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  .fixed_header_item {
    width: 1200px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .fixed_header_item {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .fixed_header_item {
    width: 720px;
  }
}
div#control {
  font-family: GothamBlock, Arial, sans-serif;
  z-index: 50;
}
div#control button {
  font-size: 14px;
  float: right;
  background: transparent;
  border: 0px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  color: #ffffff;
  border-color: #ffffff;
}
div#control button:hover {
  color: #00c8ad;
  border-color: #00c8ad;
}
div#control button#login-bt {
  font-size: 15px;
  border: 2px solid;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
img#logo {
  display: block;
  margin: 0px auto;
  min-width: 156px;
  max-width: 320.4px;
  width: 320.4px;
}
div#search {
  display: table;
  margin: 0px auto;
  padding: 20px 0px 0px 0px;
  border: 0px;
  width: 600px;
  height: 48px;
}
div#search #search-eb {
  display: table-cell;
  font-size: 18px;
  width: 512px;
  height: 48px;
  padding: 0px 10px;
  border: 0px;
  margin: 0px;
  vertical-align: middle;
}
div#search #search-bt {
  display: table-cell;
  font-size: 18px;
  width: 68px;
  height: 48px;
  border: 0px;
  margin: 0px;
  color: #00c8ad;
  background-color: #ffffff;
  vertical-align: middle;
}
div#toolbar {
  height: 48px;
  font-family: GothamMedium, Arial, sans-serif;
  font-size: 10px;
  z-index: 5;
}
div#toolbar ul {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style: none;
  background-color: #00c8ad;
}
div#toolbar ul li {
  display: table-cell;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
div#toolbar ul li:hover {
  color: #8f9da3;
}
div#toolbar ul.toolbar-dropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #00c8ad;
  z-index: 6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
div#toolbar ul li:hover ul.toolbar-dropdown {
  display: table;
  visibility: visible;
  opacity: 1;
}
div#toolbar ul.toolbar-dropdown li {
  display: table-row;
  color: #ffffff;
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
}
div#toolbar ul.toolbar-dropdown li:hover {
  color: #8f9da3;
}
div#toolbar input[type="radio"],
div#toolbar input[type="checkbox"] {
  display: none;
}
div#toolbar input[type="radio"]:checked + label,
div#toolbar input[type="checkbox"]:checked + label {
  background-color: #ffffff;
  color: #00c8ad;
}
div#toolbar label {
  display: table-cell;
  width: 100%;
  height: 48px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}
.results_info_common {
  display: table;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}
.results_info_common span {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.results_info_common span#results_fn {
  color: #8f9da3;
  font-size: 14px;
  padding-left: 10px;
}
.results_info_common span#result_num {
  color: #00c8ad;
  font-size: 24px;
  padding-left: 10px;
}
.results_info_common span#spacer {
  color: #00c8ad;
  font-size: 24px;
  width: 100%;
}
div#results_info_logged_out {
  display: table;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}
div#results_info_logged_out span {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
div#results_info_logged_out span#results_fn {
  color: #8f9da3;
  font-size: 14px;
  padding-left: 10px;
}
div#results_info_logged_out span#result_num {
  color: #00c8ad;
  font-size: 24px;
  padding-left: 10px;
}
div#results_info_logged_out span#spacer {
  color: #00c8ad;
  font-size: 24px;
  width: 100%;
}
div#results {
  height: 1000px;
  background-color: #333333;
  font-size: 0px;
}
div#results div.result-cube {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 240px;
  height: 240px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
div#results div.result-cube img {
  width: 100%;
  height: 100%;
}
div#results div.result-cube span {
  font-size: 15px;
  font-family: GothamMedium, Arial, sans-serif;
}
div#results div.result-cube span#name {
  color: #FFFFFF;
  position: absolute;
  left: 12px;
  bottom: 8px;
}
div#results div.result-cube span#score {
  color: #00c8ad;
  position: absolute;
  right: 12px;
  bottom: 8px;
}
div#results div.result-cube div#info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 480px;
  background-color: #00c8ad;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
div#results div.result-cube div#tribe_score_container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 96px;
  height: 84px;
  background-color: #00b89f;
  z-index: 2;
}
div#results div.result-cube div#tribe_score_container table {
  margin: 10px 0;
  width: 100%;
  height: 100%;
}
div#results div.result-cube div#tribe_score_container table tr td {
  width: 100%;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}
div#results div.result-cube div#tribe_score_container table tr td span {
  width: 100%;
}
div#results div.result-cube div#tribe_score_container table tr td span#tribe-score {
  margin-top: 5px;
  font-family: GothamLight, Arial, sans-serif;
  font-size: 40px;
  line-height: 0;
}
div#results div.result-cube div#tribe_score_container table tr td span#label {
  font-family: GothamBook, Arial, sans-serif;
  font-size: 11px;
  line-height: 2;
}
div#results div.result-cube div#name {
  position: absolute;
  top: 110px;
  left: 24px;
  width: 192px;
  height: 100px;
  z-index: 2;
  background-color: transparent;
}
div#results div.result-cube div#name span {
  font-family: GothamLight, Arial, sans-serif;
  font-size: 38px;
  color: #ffffff;
  line-height: 1.2;
}
div#results div.result-cube div#bio {
  position: absolute;
  top: 190px;
  left: 24px;
  width: 192px;
  height: 100px;
  z-index: 2;
  background-color: transparent;
}
div#results div.result-cube div#bio p {
  font-family: GothamBook, Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.4;
}
div#results div.result-cube button#view_insights {
  position: absolute;
  bottom: 115px;
  left: 55.2px;
  width: 129.6px;
  height: 45px;
  z-index: 2;
  background-color: transparent;
  border: 3px solid;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
div#results div.result-cube button#view_insights span {
  font-family: GothamMedium, Arial, sans-serif;
  font-size: 12px;
}
div#results div.result-cube div#social_stats {
  position: absolute;
  bottom: 24px;
  left: 36px;
  width: 168px;
  height: 60px;
  background-color: transparent;
  z-index: 2;
}
div#results div.result-cube div#social_stats table {
  text-align: center;
  width: 100%;
}
div#results div.result-cube div#social_stats table tr td img {
  width: 32px;
  height: 32px;
  border: 3px solid;
  border-color: #ffffff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
div#results div.result-cube div#social_stats table tr td span {
  color: #ffffff;
  line-height: 2;
}
div.overlay {
  display: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
div.overlay span.close {
  font-size: 20px;
  margin-left: 50vw;
  cursor: pointer;
}
div.overlay-content {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
div.overlay-content p {
  width: 50vw;
  margin: 0 auto;
}
div.standard-overlay {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
}
div.standard-overlay h1 {
  font-family: GothamLight, Arial, sans-serif;
  font-weight: lighter;
  font-size: 36px;
}
div.standard-overlay p {
  font-family: GothamBook, Arial, sans-serif;
  font-size: 16px;
}
div.user-overlay {
  background: rgba(0, 200, 173, 0.8);
  color: #ffffff;
}
div.user-overlay h1 {
  font-family: GothamLight, Arial, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
div.user-overlay p {
  font-family: GothamBook, Arial, sans-serif;
  font-size: 16px;
}
div.user-overlay img {
  margin: 0px auto;
  width: 200px;
}
div.user-overlay .field {
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  width: 400px;
  height: 40px;
  color: #808080;
}
div.user-overlay .field input {
  display: block;
  font-size: 18px;
  font-family: GothamBlock, Arial, sans-serif;
  width: 340px;
  height: 40px;
  border: 0px;
  padding: 0px 10px 0px 50px;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
}
div.user-overlay .field span#icon {
  position: absolute;
  left: 0px;
  pointer-events: none;
  font-size: 18px;
  padding-top: 11px;
  padding-left: 16px;
}
div.user-overlay button {
  font-size: 15px;
  font-family: GothamBlock, Arial, sans-serif;
  color: #ffffff;
  background: transparent;
  margin: 20px;
  padding: 10px;
  border: 0px;
}
div.user-overlay button:hover {
  color: #00c8ad;
}
div.user-overlay button.bordered {
  border: 2px solid;
  border-color: #ffffff;
}
div.user-overlay button.bordered:hover {
  border-color: #00c8ad;
}
div.popup {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 10vh;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
div.popup span.close {
  font-size: 20px;
  background: rgba(0, 200, 173, 0.8);
  color: #ffffff;
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5em;
}
div.insight-popup {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
}
div.insight-popup div.insight-overlay-content {
  display: table-cell;
  margin: 8vh 5vh;
  vertical-align: middle;
}
